altair==4.2.0
attrs==22.1.0
backports.zoneinfo==0.2.1
blinker==1.5
cachetools==5.2.0
category-encoders==2.5.1.post0
kiwisolver
lightgbm
MarkupSafe
matplotlib
numpy
opencv-contrib-python
pandas
Pillow
scikit-learn
seaborn
statsmodels
streamlit
streamlit-option-menu
toml
